node_modules
npm-debug.log

logs
*.log

cache
*.jpg
*.json
!package.json
!package-lock.json
!config/*.json

.git
.github
.gitignore
.vscode
.env
.env.*

README.md
LICENSE
*.md
Dockerfile
docker-compose.yml
.dockerignore